<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>
		{% block title %}Fifty State Project{% endblock %}{% if state %}: 
		{{ state.name }}{% endif %}
	</title>
	{% block feeds %}{% endblock %}
</head>	
<body>

	<div id="header">

	{% block header %}
		<h1>
			{% if state %}
				<a href="{{ state.get_absolute_url }}">Fifty State Project: {{ state.name }}</a>
			{% else %}
				<a href="/">Fifty State Project</a>
			{% endif %}
		</h1>
	{% endblock %}

		<div id="nav">
		{% block nav %}

			{% if state %}
				<ul>
					<li><a href="{{ state.get_absolute_url }}bills/">Bills</a></li>
					<li>
						<a href="{{ state.get_absolute_url }}legislators/upper/">
							{{ state.upper_chamber_title }}s
						</a>
					</li>
					<li>
						<a href="{{ state.get_absolute_url }}legislators/lower/">
							{{ state.lower_chamber_title }}s
						</a>
					</li>
				</ul>
			{% endif %}
		{% endblock %}
		</div>

	</div>
	
	<div id="content">
	{% block content %}{% endblock %}
	</div>

	<div id="footer">
	{% block footer %}{% endblock %}
	</div>

</body>
</html>
