{% extends "fiftystates/base.html" %}

{% load threadedcommentstags %}

{% block title %}{{ bill.bill_id }} -- {{ bill.title }}{% endblock %}

{% block feeds %}
<link rel="alternate" type="application/atom+xml"
	title="{{ bill.bill_id }} Actions"
	href="{{ actions_feed_url }}">
<link rel="alternate" type="application/atom+xml"
	title="{{ bill.bill_id }} Sponsors"
	href="{{ sponsors_feed_url }}">
{% endblock %}

{% block content %}

<h2>{{ bill.bill_id }}: {{ bill.title }}</h2>

{% if actions %}
	<h3>Actions:</h3>
	<ul>
	{% for action in actions %}
		<li>{{ action.date|date }}: {{ action.action }}</li>
	{% endfor %}
	</ul>
{% endif %}

{% if sponsors %}
	<h3>Sponsors:</h3>
	<ul>
	{% for sponsor in sponsors %}
		<li><a href="{{ sponsor.legislator.get_absolute_url }}">{{ sponsor.legislator.full_name }}</a></li>
	{% endfor %}
	</ul>
{% endif %}

{% if versions %}
	<h3>Versions</h3>
	<ul>
	{% for version in versions %}
		<li><a href="{{ version.url }}">{{ version.name }}</a></li>
	{% endfor %}
	</ul>
{% endif %}

{% if votes %}
	<h3>Votes:</h3>
	<ul>
	{% for vote in votes %}
		<li>{{ vote.date}}: {{ vote.motion }} <em>{% if vote.passed %}PASSED{% else %}FAILED{% endif %}</em></li>
	{% endfor %}
	</ul>
{% endif %}

<h3>Comments</h3>
{% get_free_threaded_comment_tree for bill as tree %}
{% for comment in tree %}
	<div style="margin-left: {{ comment.depth }}em;" class="comment">
			<a href="{{ comment.website }}">{{ comment.name }}</a> said:<br/>
			{% auto_transform_markup comment %}
    </div>
{% endfor %}

<p>Reply to Original:</p>
<form method="POST" action="{% get_free_comment_url bill %}">
	<ul>
		{% get_free_threaded_comment_form as form %}
		{{ form.as_ul }}
		<li><input type="submit" value="Submit Comment" /></li>
	</ul>
</form>

{% endblock %}